body{
  font-family: Ubuntu !important;
}
.section{
  position: relative;
}
.test-block{
  height: 300px;
  width: 500px;
  background-color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.container{
  width: auto!important;
  padding: 0!important;
  margin: 0!important;
}
.row{
  max-height: 100%;
  height: 100%;
  overflow: hidden;
}
#myCarousel{
 position: relative;
  height: 100%;
  width: 100%;
  overflow: hidden;
  .carousel-inner{
    width: 90%;
    margin: 0 auto;
    overflow: visible;
    //&:before{
    //  width: 5%;
    //  content: '';
    //  display: block;
    //  position: absolute;
    //  background-color: #fff;
    //  height: 100vh;
    //  left: -5%;
    //  top: 0;
    //  z-index: -1;
    //}
    //&:after{
    //  width: 5%;
    //  top: 0;
    //  z-index: -1;
    //  right: -5%;
    //  content: '';
    //  display: block;
    //  position: absolute;
    //  background-color: #fff;
    //  height: 100vh;
    //}
  }
  .item{
    height: 100vh;
    .slide-content{
      position: absolute;
      height: 50vh;
      width: 100%;
      top:50%;
      transform: translateY(-50%);
      .main-image{
        height: 320px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
      img{
          max-height: 100%;
          /* min-height: 400px; */
          width: auto;
          height:320px;
          max-width: 100%;
          display: block;
          margin: 0 auto;
          position: relative;
          top: 50%;
          transform: translateY(-50%);
        }
      }
      .dir-name{
        bottom: 41px;
        transform: rotateZ(-90deg);
        position: absolute;
        left: -65px;

      }
    }
  }
  .carousel-indicators{
    height: 100vh;
    margin-top: 0;
    margin-bottom: 0;
    bottom: 0;
    .carousel-ind-wrap{
      position: absolute;
      left: 50%;
      transform: translateX(-50%);
      li{
        border: none;
      }
    }
  }
}
.nav{
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  left: 0;
  width: 100vw;
  z-index: 0;
  ul{
    margin: 0;
    padding:0;
    li{
      list-style: none;
      margin: 20px 0;
      @extend %clearfix;
      a{
        display: block;
        text-align: right;
        float: right;
        text-decoration: none;
        background-color: #000;
        color: #000;
        height: 20px;
        line-height: 20px;
        font-size: 12px;
        width: 50px;
        white-space: nowrap;
        font-weight:bold;
        text-transform: uppercase;
        transition: font-size .5s linear, padding .1s linear, color .1s linear, width .15s ease;
        &:hover{
          width: 165px;
          color: #fff;
          font-size: 12px;
          text-align: right;
          padding-left: 5px;
          padding-right: 75px;
        }
        &.active{
          color: #fff;
          width: 100%;
          font-size: 12px;
          padding-right: 75px;
          position: relative;
          text-align: right;
          z-index: 0;
        }
      }
    }
  }
  &.footer-nav{
    bottom: 0;
    top: auto;
    transform: none;
  }
}
.layout-container{
  width: 1170px!important;
}
#myCarousel{
  z-index: 2;
  .carousel-indicators{
    li{
      border-radius: 0;
      background-color: #000;
    }
  }
}
.bxslider{
  margin: 0;
  li{
    margin: 0;
  }
}
.main-slider{
  li{
    height: 350px;
    img{
      width: 100%;
    }
  }
}
.main-screen{
  .bx-viewport{
    z-index: 2;
    margin-top: calc(50vh - 175px);
    height: 350px!important;
  }
  .bx-pager{
    text-align: center;
    line-height: 10px;
    margin-top: 20px;
    .bx-pager-item{
      display: inline-block;
      height: 20px;
      text-align: center;
      line-height: 20px;
      width: 15px;
      a{
        color: #fff;
        font-size: 1px;
        height: 7px;
        width: 7px;
        vertical-align: middle;
        display: inline-block;
        background-color: #000;
        &.active{
          width: 11px;
          height: 11px;
        }
      }
    }
  }
}
.bx-controls-direction{
  display: none;
}
.header{
  position: absolute;
  height: 20px;
  width: 100%;
  z-index: 1000;
  top: calc(50vh - 220px);
  transition: top .3s ease-in;
  .find{
    float: right;
    position: relative;
    cursor: pointer;
    .hidden{
      display: none;
    }
    label{
      display: none;
    }
    input{
      width: 20px;
      border: none;
      background: transparent;
      top:0;
      right: 0;
      position: absolute;
      outline: none;
      transition: width .3s ease-in;
    }
    span{
      color: #000;
      position: relative;
      z-index: 55;
    }
    &.active{
      input{
        width: 768px;
        z-index: 2222;
        right: 0;
        background: #fff;
      }
    }
  }
  .social{
    float: left;
    .social-link{
      display: inline-block;
      margin-right: 15px;
      font-size: 18px;
      color: #000;
      text-decoration: none;
      transition:  all .15s ease-in;
      &:last-of-type{
        margin-right: 0;
      }
      &:hover{
        &.facebook{
          color: #3b5998!important;
        }
        &.vk{
          color: #45668e!important;
        }
        &.youtube{
          color: #cd201f!important;
        }
        &.vimeo{
          color: #1ab7ea!important;
        }

      }
    }
  }
}
.screen-nav-arrow{
  color: #000!important;
  text-decoration: none;
  margin-top: 50px;
  display: block;
  &.down-arrow{
    position: absolute;
   bottom: 50px;
    right: 10px;

  }
}
.posters{
  @extend %clearfix;
  position: absolute;
  top: 50%;
  z-index: 22;
  transform: translateY(-50%);
  .poster{
    width: 240px;
    height: 360px;
    background: red;
    margin-right: 25px;
    position: relative;
    float: left;
    display: block;
    &:last-of-type{
      margin-right: 0;
    }
    img{
      width: 100%;
      height: 100%;
      filter: grayscale(0%);
      transition: all .3s linear;
    }

    .poster-caption{
      position: absolute;
      z-index: 2;
      opacity: 0;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: opacity .3s linear;
      background: rgba(0,0,0,0.6);
      color: #fff;
      span{
        display: block;
        text-align: center;
      }
      .poster-text{
        position: absolute;
        display: block;
        top:40%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
        span{
          margin-bottom: 10px;
          &.title{
            text-transform: uppercase;
          }
        }
      }
    }
    &:hover{
     .poster-caption{
       opacity: 1;
     }
    }
  }
}
.films-link{
  position: absolute;
  bottom: -70px;
  right: 0;
}
.review{
  height: 380px;
  overflow: hidden;
  a{
    display: block;
    color: #000!important;
    text-decoration: none;

    h1{
      font-size: 15px;
      font-weight: bold;
      text-transform: uppercase;
      margin-top: 0;
      margin-bottom: 10px;
    }
    p{
      margin-top: 23px;
      text-indent: 33px;
      font-size: 12px;
      text-align: justify;
      font-weight: 300;

    }
    &.review-image{
      display: block;
      height: 246px;
      max-width: 100%;
      background-size: cover;
      background-repeat: no-repeat;
      width: 100%;
      max-height: 246px;
      filter: grayscale(0%);
      transition: all .3s linear;
      img{
        max-width: 100%;
        height: 100%;
      }
      &:hover{
        filter: grayscale(0%);
        .rewiev-part{
          color: #000 + 70%!important;
        }
      }
    }
  }
}
.review-wrap{
  width: 770px;
  height: 380px;
  position: absolute;
  z-index: 2;
  top:50%;
  left: 50%;
  transform: translate(-50%, -50%);
  &.directors-wrap{
    height: 380px;
    .director{
      float: left;
      position: relative;
      width: 22%;
      margin-bottom: 30px;
      height: 180px;
      margin-right: 30px;
      img{
        max-width: 100%;
        height: 100%;
        width: 100%;
        filter: grayscale(0%);
        transition: all .3s linear;
      }
      margin-right: 30px;
      &:nth-of-type(4n){
        margin-right: 0;
      }
      &:last-of-type{
        margin-right: 0;
      }

      .director-name{
        display: block;
        position: absolute;
        color: #fff!important;
        z-index: 2;
        left: 0;
        right: 0;
        opacity: 0;
        line-height: 180px;
        text-align: center;
        font-size: 18px;
        top: 0;
        bottom: 0;
        background: rgba(0,0,0,.6);
        transition: all .3s linear;
      }
      &:hover{
        img{
          filter: grayscale(0%);
        }
        .director-name{
          opacity: 1;
        }
      }
    }
  }
  a{
    &:hover{
      cursor: pointer;
      color: #000 + 70%;
    }
  }
}
.about-wrap{
  color: #000!important;
  height: auto;
  min-height: 1px;
  z-index: 2;
  h2{
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 0;
  }
  p{
    margin-top: 0;
    font-size: 12px;
    font-weight: 300;
    text-indent: 30px;
    text-align: justify;
  }
}
.events-wrap{
  height: 480px;
}
.footer-col{
  text-align: center;
}
.footer-wrap{
  height: auto;
  transform: translate(-50%, -25%);
  color: #000;
}
.footer-social{
  position: absolute;
  bottom: 50px;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
  span{
    color: #000;
    display: inline-block;
    margin-right: 10px;
  }
}
body{
  &.fp-viewing-events{
    .header{
      top: calc(50vh - 271px)!important;
    }
  }
}
#loader-wrapper .loader-section{
  background: #000!important;
}
#loader-wrapper{
  z-index: 99999999;
}
#loader{
  border-top-color: #fff!important;
  &:before{
    border-top-color: #fff!important;
  }
  &:after{
    border-top-color: #fff!important;
  }
}


.box{
  width: 100%;
  height: 225px;
  overflow: hidden;
  margin-bottom: 30px;
  position: relative;
  .event-link{
    display: block;
    width: 100%;
    height: 225px;
    margin-bottom: 30px;
    transition: all .3s linear;
    overflow: hidden;
    filter: grayscale(0);
    background-size: cover;
  }
  .event-text{
    position: absolute;
    display: block;
    opacity: 0;
    top:0;
    color: #000;
    left: 0;
    right: 0;
    bottom: 0;
    transition: all .3s linear;
    text-decoration: none;
    font-size: 20px;
  }
  &:hover{

    .event-text{
      opacity: 1;
      background-color: rgba(0,0,0,.6);
    }
  }
}
.event-span-text{
  color: #fafafa;
  text-transform: uppercase;
  line-height: 225px;
  display: block;
  font-weight: bold;
  text-align: center;
}
.director-arc{
  width: 100%;
  height: 180px;
  display: block;
  margin-bottom: 30px;
  position: relative;
  text-decoration: none;
  img{
    width: 100%;
    height: 100%;
    filter: grayscale(0%);
    transition: all .3s linear;
  }
  .director-name{
    display: block;
    position: absolute;
    color: #fff!important;
    z-index: 2;
    left: 0;
    right: 0;
    opacity: 0;
    line-height: 180px;
    text-align: center;
    font-size: 18px;
    top: 0;
    bottom: 0;
    background: rgba(0,0,0,.6);
    transition: all .3s linear;
  }
  &:hover{
    img{
      filter: grayscale(0%)
    }
    .director-name{
      opacity: 1;
    }
  }
  &.movie-arc{
    position: relative;
    height: auto;
    .poster-caption{
      position: absolute;
      z-index: 2;
      opacity: 0;
      display: block;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      transition: opacity .3s linear;
      background: rgba(0,0,0,0.6);
      color: #fff;
      span{
        display: block;
        text-align: center;
      }
      .poster-text{
        position: absolute;
        display: block;
        top:40%;
        width: 100%;
        text-align: center;
        transform: translateY(-50%);
        span{
          margin-bottom: 10px;
          &.title{
            text-transform: uppercase;
          }
        }
      }
    }
    &:hover{
      .poster-caption{
        opacity: 1;
      }
    }
  }
  &.event-arch{
    .poster-caption{
      bottom: 6px;
      .poster-text{
        top: 50%!important;
      }
    }
    &:hover{
      img{
        filter: grayscale(0%);
      }
    }
  }
}
.single-header{
  margin-bottom: 30px;
  padding-top: 60px;
  line-height: 24px;
  position: relative;
  .aw-long-arrow-left{
    display: inline-block;
    margin-left: -50px;
    margin-right: 12px;
    &:before{
      vertical-align: middle;
    }
  }
  .back-arrow{
    color: #000!important;
    display: inline-block;
    text-decoration: none;
    margin-left: -5px;
  }
  .single-head-heder{
    display: inline-block;
    margin-top: 0;
    margin-bottom: 0;
    font-size: 12px;
    background-color: #000;
    color: #fff;
    text-transform: uppercase;
  }
  .find{
    float: right;

    input{
      width: 20px;
      border: none;
      background: transparent;
      top:0;
      right: 0;
      z-index: 455;
      height: 24px;
      position: absolute;
      outline: none;
      transition: width .5s ease-in;
    }
    span{
      color: #000;
      position: relative;
      z-index: 55;
    }
    &.active{
      input{
        right: 0;
        width: 785px;
        background: #fff;
      }
    }
  }
}
.single-head-heder{
  display: inline-block;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 12px;
  background-color: #000;
  color: #fff;
  text-transform: uppercase;
  &.fin{
    float: right;
  }
}
.single-dir-text{
  p{
    font-size: 12px;
    text-align: justify;
    display: block;
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 20px;
  }
}
.dir-film-header{
  p{
    font-size: 12px;
    text-align: justify;
    line-height: 20px;
  }
}
.play-gif{
  display: none!important;
}
.dir-film-gif{
  img{
    width: 100%;
  }
}
.dir-film-header{
  h2{
    font-size: 12px;
    text-transform: uppercase;
    margin-top: 0;
  }
}
.director-film{
  margin-top: 50px;
  a{
    color: #000!important;
    text-decoration: none;
  }

}
.film-iframe-row{
  iframe{
    width: 100%!important;
    height: 400px;
  }
}
.film-tabs{
  margin-top: 25px;
  ul{
    margin: 0;
    padding:0;
    @extend %clearfix;
    li{
      list-style:none;
      a{
        display: block;
        float: left;
        color: #000;
        text-transform: uppercase;
        text-decoration: none;
        margin-right: 60px;
        font-size: 12px;
        padding: 5px 10px;
      }
      &.active{
        a{
          color: #fff;
          background: #000;
        }
      }
    }
  }
}
.tab-content{
padding: 0;
}
.tab-pane{
  margin-top: 25px;
  p{
    font-size: 12px;
    color: #000;
  }
}
.linked-film{
  margin-top: 20px;
  display: block;
  img{
    width: 100%;
    height: 113px;
  }
}
.no-decoration-link{
  color: #000!important;
  text-decoration: none;
  &:hover{
    color: #000 + 50%;
  }
}
.search-wrap{
  padding-top: 40px;
  p{
    font-size: 12px;
    text-align: justify;
    display: block;
    padding-left: 15px;
    margin-top: 0;
    margin-bottom: 20px;
    line-height: 20px;
  }
}
.search-item{
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #000;
  margin-bottom: 20px;
}
a.wrapping-link{
  color: inherit!important;
}
.svg-cont{
  position: relative;
  z-index: 9999999999999999;
  svg{
    width: 100vw;
    height: 100vh
  }
}
@keyframes preload-anim-letter {
 0%{
   opacity:0;
 }
  50%{
    opacity:1;
  }
  100%{
    opacity: 0;
  }
}
.preload-letter{
  animation-name: preload-anim-letter;
  animation-duration: 2s;
  animation-iteration-count: infinite;
  &.pl2{
    animation-delay: .2s;
  }
  &.pl3{
    animation-delay: .3s;
  }
  &.pl4{
    animation-delay: .4s;
  }
  &.pl5{
    animation-delay: .5s;
  }
  &.pl6{
    animation-delay: .6s;
  }
  &.pl7{
    animation-delay: .7s;
  }
  &.pl8{
    animation-delay: .8s;
  }
  &.pl9{
    animation-delay: .9s;
  }
  &.pl10{
    animation-delay: 1s;
  }
  &.pl11{
    animation-delay: 1.1s;
  }
  &.pl12{
    animation-delay: 1.2s;
  }
  &.pl13{
    animation-delay: 1.3s;
  }
  &.pl14{
    animation-delay: 1.4s;
  }
  &.pl15{
    animation-delay: .15s;
  }

}
.rewiev-part{
  transition: all .3s linear;
  text-shadow: 0 0 0 rgba(0, 0, 0, 0.4);

}
.review-thumbnail{
 img{
   max-width: 100%;
   height: auto;
   margin-top: 42px;
 }
}
.review-row{
  margin-top: 30px;
  margin-bottom: 30px;
  h1{
    margin-top: 0;
    margin-bottom: 10px;
    color: #000;
    font-size: 14px;
    text-transform: uppercase;
    a{
      color: inherit;
      text-decoration: none;
    }
  }
  p{
    font-size: 12px;
    color: #000;
    text-align: justify;
  }
  .btn{
    float: right;
  }
  &.movie-rev{
    margin-bottom: 20px;
    p{
      margin-top: 0;
    }
  }
}
body{
  min-width: 1170px!important;
}

.review a:hover .rewiev-part{
  color: #000 + 120%!important;
}
.director-arc img{
  display: block;
}
